.wrapper_input-code div{
  display: flex;
  justify-content: space-between;
  width: 272px;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 16px;
  position: relative;
}
.wrapper_input-code div input{
  text-align: center;
  font-size: 22px;
  font-weight: 600
}

.input_code{
  width: 32px;
  height: 40px;
  border: none;
  border-radius:4px;
  background-color: #F0F0F0
}

.input_code:focus{
  border: none;
  background-color: #F0F0F0
  
}
